{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    {{#if user}}

    <nav id="topNav" class="navbar navbar-expand-lg fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            ☰
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand mx-auto" href="#">TWICE AS NICE</a>
        <div id="navRight" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <p><a class="nav-link" href="/product"><i class="fas fa-shopping-bag"></i></a></p>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/login">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {{else}}
        <nav id="topNav" class="navbar navbar-expand-lg fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                ☰
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mx-auto" href="#">TWICE AS NICE</a>
            <div id="navRight" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="login-container">
                            <form action="/login" method="post">
                                <input type="text" placeholder="Username" name="username">
                                <input type="text" placeholder="Password" name="psw">
                                <button type="submit">Login</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    {{/if}}

<div id="landingPage">

    <div id="heading">
        <h1>Buy What You Need <br> Sell What You Don't</h1>
        <h2>All From The Comfort Of Your Home</h2>
        {{#if user}}
        <button class="button"><a href="/product"><span>Get Started </span></a></button>
        {{/if}}
    </div>

</div>

<div id="about">

    <div class="row">

        <div id="content">

        <h2>ABOUT US</h2>

        <p>Have you ever found yourself with clothes that you don't wear because they either don’t fit anymore or you bought them in oversize or undersize or you just don't like them despite them being in perfect condition?</p>

        <p>If that perfectly describes you, then you have come to the right place!</p>

        <p>Twice as Nice is a platform where people can buy and sell second hand clothes with ease.</p>

        </div>

    </div>
</div>


<div id="contact">

        <form id="form">

            <h3>CONTACT US</h3>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name.." required>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email.." required>

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="Kenya">Kenya</option>
                <option value="Uganda">Uganda</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Other">Other</option>
            </select>

            <textarea class="form-control" id="textArea" rows="10" cols="100"
                      placeholder="Your message here..." required></textarea>

            <button type="submit" id="submitBtn">Submit</button>


        </form>



</div>

{{/partial}}

{{> layout.hbs}}