{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    <nav id="topNav" class="navbar navbar-expand-lg fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            ☰
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand mx-auto" href="#">TWICE AS NICE</a>
        <div id="navRight" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard"><i class="fas fa-shopping-bag"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Log in</a>
                        <a class="dropdown-item" href="">Sign Up</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<div id="landingPage">

    <div id="heading">
        <h1>Buy What You Need <br> Sell What You Don't</h1>
        <h2>All From The Comfort Of Your Home</h2>
        <button class="button" href="/dashboard"><span>Get Started </span></button>
    </div>

</div>

<div id="about">

    <div class="row">

        <div class="col-md-6" id="content">

        <h2>ABOUT US</h2>

        <p>Have you ever found yourself with clothes that you don't wear because they either don’t fit anymore or you bought them in oversize or undersize or you just don't like them despite them being in perfect condition?</p>

        <p>If that perfectly describes you, then you have come to the right place!</p>

        <p>Twice as Nice is a platform where people can buy and sell second hand clothes with ease.</p>

        </div>

    </div>
</div>


<div id="contact">

        <form id="form">
            <h3>CONTACT US</h3>
            <div class="form-row" id="contactForm">
                <div class="col">
                    <input type="name" class="form-control" id="name" placeholder="Name..." required>
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="email" placeholder="Email..." required>
                </div>
                <textarea class="form-control" id="textArea" rows="10" cols="100"
                          placeholder="Your message here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>


</div>

{{/partial}}

{{> layout.hbs}}