
<div class="form-group">
    <form action="/login" method="post">

        <label for="username">User Name</label>
        <input id="username" name="username" type="text"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name">
        <label for="password">Password</label>
        <input id="password" name="password" type="text"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password">

        <button type="submit" class="btn btn-primary">Go!</button>
    </form>
</div>
